name: Build Docker Images

on:
  workflow_call:
    inputs:
      admin_api_url:
        type: string
        required: true
      admin_api_base_url:
        type: string
        required: true
      nav_api_base_url:
        type: string
        required: true
    secrets:
      DOCKER_HUB_LOGIN:
        required: true
      DOCKER_HUB_PASSWORD:
        required: false
      DOCKER_HUB_TOKEN:
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_TOKEN != '' && secrets.DOCKER_HUB_TOKEN || secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and Push API
        uses: docker/build-push-action@v6
        with:
          context: ./api
          file: ./api/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_LOGIN }}/buildmap-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Push Admin Panel
        uses: docker/build-push-action@v6
        with:
          context: ./admin_panel
          file: ./admin_panel/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_LOGIN }}/buildmap-admin:latest
          build-args: |
            REACT_APP_API_URL=${{ inputs.admin_api_url }}
            REACT_APP_API_BASE_URL=${{ inputs.admin_api_base_url }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Push Buildmap Nav
        uses: docker/build-push-action@v6
        with:
          context: ./buildmap_nav
          file: ./buildmap_nav/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_LOGIN }}/buildmap-nav:latest
          build-args: |
            REACT_APP_API_BASE_URL=${{ inputs.nav_api_base_url }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
