name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/build-images.yml
    with:
      admin_api_url: ${{ vars.ADMIN_API_URL }}
      admin_api_base_url: ${{ vars.ADMIN_API_BASE_URL }}
      nav_api_base_url: ${{ vars.NAV_API_BASE_URL }}
    secrets:
      DOCKER_HUB_LOGIN: ${{ secrets.DOCKER_HUB_LOGIN }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}

  deploy:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      server_host: ${{ vars.SERVER_HOST }}
      server_port: ${{ vars.SERVER_PORT }}
      deploy_path: ${{ vars.DEPLOY_PATH }}
      admin_api_url: ${{ vars.ADMIN_API_URL }}
      admin_api_base_url: ${{ vars.ADMIN_API_BASE_URL }}
      nav_api_base_url: ${{ vars.NAV_API_BASE_URL }}
      qr_base_url: ${{ vars.QR_BASE_URL }}
      cors_allowed_origins: ${{ vars.CORS_ALLOWED_ORIGINS }}
      auth_dev_enabled: ${{ vars.AUTH_DEV_ENABLED }}
    secrets:
      DOCKER_HUB_LOGIN: ${{ secrets.DOCKER_HUB_LOGIN }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      SERVER_USER: ${{ secrets.SERVER_USER }}
      SERVER_PASSWORD: ${{ secrets.SERVER_PASSWORD }}
